openapi: 3.2.0
info:
  title: Overshootai Models API
  version: '1.0'
  description: 'Operations tagged Models across 2 of this provider''s published API definitions: overshootai-inference-openapi-original.json, overshootai-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.overshoot.ai/v1beta
tags:
- name: Models
paths:
  /v1/models:
    get:
      summary: List Models
      operationId: list_models_v1_models_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIModelsResponse'
      tags:
      - Models
  /models:
    get:
      summary: List Models
      operationId: list_models_models_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIModelsResponse'
      tags:
      - Models
components:
  schemas:
    OpenAIModelInfo:
      properties:
        id:
          type: string
          title: Id
        object:
          type: string
          title: Object
          default: model
        created:
          type: integer
          title: Created
        owned_by:
          type: string
          title: Owned By
          default: overshoot
        status:
          type: string
          title: Status
      type: object
      required:
      - id
      - created
      - status
      title: OpenAIModelInfo
    OpenAIModelsResponse:
      properties:
        object:
          type: string
          title: Object
          default: list
        data:
          items:
            $ref: '#/components/schemas/OpenAIModelInfo'
          type: array
          title: Data
      type: object
      required:
      - data
      title: OpenAIModelsResponse
    ModelInfo:
      type: object
      properties:
        id:
          type: string
          example: google/gemma-4-26B-A4B-it
          description: Model identifier. Pass this verbatim as the `model` field on `/chat/completions`.
        object:
          type: string
          default: model
        created:
          type: integer
          description: Unix seconds when the model entry was registered.
        owned_by:
          type: string
          example: overshoot
        status:
          type: string
          enum:
          - ready
          - unavailable
          description: '`ready` = currently serving. `unavailable` = not currently available.'
      required:
      - id
      - object
      - created
      - owned_by
      - status
    ModelsResponse:
      type: object
      properties:
        object:
          type: string
          default: list
        data:
          type: array
          items:
            $ref: '#/components/schemas/ModelInfo'
      required:
      - object
      - data
  securitySchemes:
    API_Key:
      type: http
      description: Bearer <api_key>
      scheme: bearer
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key (e.g. `ovs_...`)
      description: "Every public HTTP request requires `Authorization: Bearer <api_key>`, except\n`GET /models` and the public `/billing/pricing` endpoints.\n\n- `401` means the key is missing, unknown, or revoked.\n- `403` means the key is valid but cannot access the requested resource.\n- The publish token returned by `POST /streams` is only for publishing media to\n  LiveKit. It does not replace the API key for HTTP calls.\n"
x-refined-from:
- overshootai-inference-openapi-original.json
- overshootai-openapi.yaml
